.error {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .errorIcon {
    font-size: 3rem;
  }
  p {
    margin-top: 10px;
  }
}
