.search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border: 1px solid #496a8a;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    background: transparent;
    &:focus {
      outline: none;
    }
    @media screen and (max-width: 1024px) {
      height: 35px;
    }
  }
  button {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: #37618b;
    border: none;
    .icon {
      cursor: pointer;
      transition: 0.3s all ease-in-out;
      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
      }
      &:active {
        color: white;
      }
    }
    @media screen and (max-width: 1024px) {
      font-size: 50px;
    }
  }
}
