.search {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    input {
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
    width: 80%;
    background: transparent;
    &:focus {
        outline: none;
    }
  }
  button {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    .icon {
      cursor: pointer;
      transition: 0.3s all ease-in-out; 
        &:hover {
        color: rgb(84, 123, 138);
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
      }
    }
}
}