.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000000;
  color: #37618b;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }

  &:active {
    color: #ffffff;
  }

  &:disabled {
    color: #6f6f6f80;
  }
}
